<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head.ejs')%>
</head>

<body class="container">
    <header class='one a'>
        <%- include('../../layout/header.ejs')%>
    </header>
    <main class="sub-content">
        <section class="grid-containerF">
            <img class="Bookimg" src="<%=book.image_url%>">
            <p class="p1">
                <%=book.title%>
            </p>
            <p class="p2">
                <%=book.author%>
            </p>
            <p class="p3">
                <%=book.description%>
            </p>
        </section>
    </main>
</body>

</html>