<% 
 let type = "hidden" ;
 let url = `${book.image_url}`;
 let title = `${book.title}`;
 let author = `${book.author}`;
 let description = `${book.description}`;
 let classStyle = "grid-containerF";
 let btn5 = "btn2";
 %>

    <form action="/books" method="POST">
        <section class="sub-content">
            <section class="<%=classStyle%>">
                <input class="inp1" type="<%=type%>" name="img" value="<%=book.image_url%>" placeholder="<%=book.image_url%>" /><img class="Bookimg" src="<%=url%>">
                <input class="inp2" type="<%=type%>" name="title" value="<%=book.title%>" placeholder="<%=book.title%>" />
                <p class="p1">
                    <%=title%>
                </p>
                <input class="inp3" type="<%=type%>" name="author" value="<%=book.author%>" placeholder="<%=book.author%>" />
                <p class="p2">
                    <%=author%>
                </p>
                <input class="inp4" type="<%=type%>" name="description" value="<%=book.description%>" placeholder="<%=book.description%>" />
                <p class="p3">
                    <%=description%>
                </p>
                <input class="inp5" type="<%=type%>" name="isbn" value="<%=book.isbn%>" placeholder="<%=book.isbn%>" />
                <button type="submit" class="btn2"> Add to myshelf book</button>
            </section>
        </section>
    </form>